# Virtual Environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Environment Variables
.env
.env.*

# Distribution / Packaging
build/
dist/
*.egg-info/

# Test & Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log